body{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    width:100%;
}

select,
input{
    font-size: 1.4em;  
}

.form-main{
    padding:0 1rem;
}

.form-prologue{
    margin-top:25%;
    font-size: 1.3em;
    text-align: center;
}


.form-container{
    margin-top: -5%;
}

select {
    border: none;
    outline: none;
}

select:focus {
    outline: none;
    border:none;
}

legend {
    font-size: 1.1em;
    margin-top: 10px;
    padding: 16px 0 8px 0;
}

.header{
    top:2%;
}

.form-button{
    border: none;
    border-radius: 3px;
    padding: 0.5em;
    margin-top: 1.3em;
}

.form-button:focus{
    text-decoration: none;
    outline: none;
}

@media only screen and (min-width:430px){
    .form-main{
        width:90%;
    }
}

@media only screen and (min-width:480px){
    .form-main{
    width: 80%;
    margin: auto;
    }

    .form-prologue{
        text-align: left;
    }
}

@media only screen and (min-width:550px){
    .form-main{
    margin-top: 15%;
    width: 70%;
    }

    .form-prologue{
        margin: 25% 0 10% 0;
    }

    .form-prologue > h3 {
    font-size: 1.5em;
    }

    legend{
        font-size: 1.3em;
    }

    .form-button{
        font-size: 1.2em;
        margin-top: 2em;
    }

}

@media only screen and (min-width:1025px){
    .form-main{
        margin-top: 0;
        width: 60%;
        font-size: 0.8rem;
    }

    .form-prologue {
        margin: 25% 0 5% 0;
    }
}